TG_APP_ID=999
SESSION_NAME="session"
DEBUG=False
CID_CHANNEL="mydatabackup"
SECRETKEYFILE="SecretKey.bin"
TG_APP_HASH="fdkfdkfdkfd"


# TG_APP_HASH & TG_APP_ID:
# # https://core.telegram.org/api/obtaining_api_id

# SESSION_NAME & SECRETKEYFILE - any

# CID_CHANNEL - your chat or channel in Telegram.
